$colors: (
  main: #191041,
  secondary: #fa923f,
);
$border-default: 0.05rem solid
  map-get(
    $map: $colors,
    $key: main,
  );

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: {
    direction: column;
    wrap: nowrap;
  }
}

%sizing-and-alignment {
  align-items: center;
  box-sizing: border-box;
}

@mixin mq($width) {
  @media (min-width: $width) {
    @content;
  }
}

%sass-section {
  border: $border-default;
  background: lighten($color: map-get($colors, main), $amount: 72%);
  width: 90%;
  @extend %sizing-and-alignment;
  @include mq(40rem) {
    width: 30rem;
  }
}
